<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    {% include header.html %}

    <div class="ui segment" id="codeByEuraxluo" style="width:70%;margin: 0 auto">
        <!-- <div class="left ui rail" style="width:70px">
            <div class="ui sticky">
                <h3 class="ui header">
                    left
                </h3>
                <div class="ui divided items" style="background:rosybrown">
                    <div class="item">
                        <div class="middle aligned content">
                            内容 A
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            内容 B
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            内容 C
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
        <div class="right ui rail" style="width:40%">
            <div class="ui sticky divided items">
                <!-- <h1 class="ui header">
                    right
                </h1> -->
                <!--正文-->
                <!-- Content -->
                <div class="side item ">
                    <div class="content">
                    <div class="header">
                        <i class="fa fa-th-list"></i>
                        分类
                    </div>
                    <div class="description">
                    <ul class="content-ul" cate>
                        {% for category in site.categories order:ascending %}
                        <li>
                            <a href="{{ root_url }}{{ site.baseurl }}/{{ site.category_dir }}#{{ category | first }}"
                                class="categories-list-item" cate="{{ category | first }}">
                                <span class="name">
                                    {{ category | first }}
                                </span>
                                <span class="badge">{{ category | last | size }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                    </div>
                </div>
                <!-- 其他div框放到这里 -->
                <div class="side item">
                    <div>
                        <i class="fa fa-tags"></i>
                        标签云
                    </div>
                    <div class="tags-cloud">
                        {% assign first = site.tags.first %}
                        {% assign max = first[1].size %}
                        {% assign min = max %}
                        {% for tag in site.tags offset:1 %}
                        {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                        {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                        {% endif %}
                        {% endfor %}
                        {% assign diff = max | minus: min %}

                        {% for tag in site.tags %}
                        {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                        {% assign base = temp | divided_by: 4 %}
                        {% assign remain = temp | modulo: 4 %}
                        {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                        {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                        {% else %}
                        {% assign size = base | plus: 10 %}
                        {% endif %}
                        {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                        {% else %}
                        {% assign color = 8 | minus: base %}
                        {% endif %}
                        <a href="{{ root_url }}{{ site.baseurl }}/{{ site.tag_dir }}#{{ tag[0] }}"
                            style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="side item">
                    <div>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        最近文章
                    </div>
                    <ul class="content-ul" recent>
                        {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!--test-->
                <!-- <div class="ui divided items" style="background-color:cyan">
                    <div class="item">
                        <div class="middle aligned content">
                            内容 A
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            内容 B
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            内容 C
                        </div>
                    </div>
                </div> -->




            </div>
        </div>
        <!-- 正文 -->
        <div>
            <div id="pageTop"></div>

            <div class="main">
                <div class="container">
                    {{ content }}
                </div>
                <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
                    <a href="#pageTop">
                        <div class="arrow"></div>
                        <div class="stick"></div>
                    </a>
                </div>
            </div>
        </div>



    </div>

<script>
        $('.ui.sticky')
            .sticky({
                context: '#codeByEuraxluo',
                pushing: true
            })
            ;
</script>


    {% include footer.html %}

</body>

</html>