<!DOCTYPE html>
<html>
<script>
screenTop.onclick = function(){
pageTop.scrollIntoView();
}
</script>
{% include head.html %}

<body>

{% include header.html %}
<div id="pageTop"></div>
<div class="main">
    <div class="container">
        {{ content }}
    </div>
    <div id="scrollTop" class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{% include footer.html %}

</body>
</html>
